version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    target-branch: "main"
  - package-ecosystem: "npm"
    directory: "/my-tavus-app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    target-branch: "main"
